.menu{
	  margin: 0;
	  padding: 0;
	}
	.button{
	  display: inline-block;
	  width: 200px;
	  height: 40px;
	  /*border-top:2px solid black;
	  border-left:2px solid black;
	  border-right:2px solid black;
	  border-bottom:2px solid black; */
	  border: solid black;
	  border-width: 2px 2px 0;
	  border-radius: 5px 5px 0px 0px;
	  cursor: pointer;
	  position: relative;
	  top:2px;
	  text-align: center;
	  line-height: 30px;
	  background-color:white;
	  margin: 0;
	  background-color: black;
	  color: white;
	}
	#one{
	  background-color: white;
	  color: black;
	}
	.text{
	  width: 1000px;
	  border:2px solid black;
	  border-radius: 0px 5px 5px 5px; 
	}